<% unless issue.tag_list.empty? %>
  <tr>
    <td><b><%=l(:tags)%>:</b></td>
    <td><%= safe_join(issue.tag_counts.collect{ |t| render_tag_link(t, :show_count => false, :open_only => false) }, ', ') %></td>
  </tr>
<% end %>
