<% unless issue.tag_list.empty? %>
  <hr />
  <div>
    <strong><%=l(:tags)%>:</strong> <%= issue.tag_counts.collect{ |t| render_tag_link(t, :show_count => false, :open_only => false) }.join(', ') %>
  </div>
<% end %>
